@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Cinzel&family=Cinzel+Decorative&display=swap');
:root {
  --bluegreen:#99d5c9;
  --tealsteel:#6c969D;
  --bluecg:#2978a0;
  --bluebeau:#c6e0ff;
}
body {
  padding:0;
  margin:0;
  width:450px;
  height:900px;
  border:2px solid black;
}
/*general classes*/
.fullscreener {
  width:100%;
  height:100%;
}
/*specific classes */
.startScreen {
  display:flex;
  flex-direction:column;
}
.startScreen > .largeSection {

}
.startScreen > .smallSection {

}
